body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.logo-container {
    margin-right: 20px; /* Espacio entre la imagen y el contenido */
}

.container h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    text-align: center;
}

form {
    max-height: 100%; 
    overflow-y: visible; 
    width: 100%;
    margin: 25px;
    display: flex; /* Establece el formulario como un contenedor flexible */
    flex-direction: column; /* Alinea los elementos internos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form * {
    margin: 5px 5px; /* Márgenes entre los elementos */
    width: auto; /* Ancho completo de los elementos */ /* Ancho máximo para evitar que los elementos se estiren demasiado */
}
